[submodule "Vivado/ip_repo"]
	path = Vivado/ip_repo
	url = git@github.com:uwcms/IPMC.git
	branch = ip_repo/master
[submodule "Vivado/ipmc_zynq_vivado.sdk/IPMC/src/common"]
	path = Vivado/ipmc_zynq_vivado.sdk/IPMC/src/common
	url = git@github.com:uwcms/IPMC.git
	branch = common/fallback
