# Include everything by default
!*

# Don't include temporary files
*~

# Don't include log or temporary files
*.log
webtalk/
RemoteSystemsTempFiles/
tmp/
.sdk/

# Don't keep the compilation files but keep the end result
Debug/
!Debug/*.elf
Release/
!Release/*.elf

# This is needed to keep the project structure inside XSDK
.metadata/

