# Include everything by default
!*

# Don't include temporary files
*~

# Don't include log or temporary files
*.log
webtalk/
RemoteSystemsTempFiles/
tmp/
.sdk/

# Don't keep the compilation files
.dep/
.obj/
bin/
*.elf
*.elf.size
Xilinx.spec

# This is needed to keep the project structure inside XSDK
.metadata/

